.card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  max-height: var(--cardMaxHeight);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.2s;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  list-style: none;
  cursor: pointer;
  &:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }

  &.is-selected {
    cursor: default;
    transform: rotateY(180deg);
  }
  .front-face,
  .back-face {
    height: 100%;
    position: absolute;
    border-radius: var(--borderRadius);
    backface-visibility: hidden;
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .front-face {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-size: cover;
    //WORKAROUND FOR FINELY RESZING THE CLIP PATH BASED ON THE FRONT-TYPE IMAGE.
    //(ALL FRONT-TYPES HAVE DIFFERENT SIZES)
    &.electric {
      // background-image: url("./images/frontTypes/electric.png");
      .image-wrapper {
        clip-path: inset(19.1% 10.1% 33.4% 10%);
      }
    }
    &.fighting {
      // background-image: url("./images/frontTypes/fighting.png");
      .image-wrapper {
        clip-path: inset(22.4% 10.9% 30.1% 11.3%);
      }
    }
    &.fire {
      // background-image: url("./images/frontTypes/fire.png");
      .image-wrapper {
        clip-path: inset(14.5% 9% 34.3% 9.1%);
      }
    }
    &.ice {
      // background-image: url("./images/frontTypes/ice.png");
      .image-wrapper {
        clip-path: inset(16.5% 12.2% 31.9% 11.9%);
      }
    }
    &.poison {
      // background-image: url("./images/frontTypes/ice.png");
      .image-wrapper {
        clip-path: inset(16.6% 11.6% 31.4% 11.5%);
      }
    }
    &.grass {
      // background-image: url("./images/frontTypes/grass.png");
      .image-wrapper {
        clip-path: inset(16.7% 12.1% 32% 12%);
      }
    }
    &.water {
      // background-image: url("./images/frontTypes/water.png");
      .image-wrapper {
        clip-path: inset(13.9% 8.3% 34.3% 9%);
      }
    }
    .background {
      pointer-events: none;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      border-radius: var(--borderRadius);
    }
    .name {
      margin: 0;
      font-size: 10px;
      margin: 0;
      position: absolute;
      top: 4px;
    }
    .image-wrapper {
      clip-path: inset(13.2% 8.5% 30.4% 10.5%);
      background: rgb(255, 255, 255);
      background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 16%,
        rgba(110, 110, 110, 1) 100%
      );
      width: 100%;
      height: 75%;
      clip-path: inset(15% 9.6% 30.6% 10.2%);
      .image {
        width: 100%;
        height: 100%;
        transform: scale(0.7);
      }
    }
  }
}

@media screen and (min-width: 640px) and (min-height: 640px) {
  .card {
    height: calc(33.333% - 5px);
  }
}
