.card {
  width: var(--cardWidth);
  height: var(--cardHeight);
  max-height: var(--cardMaxHeight);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.2s;
  box-shadow: var(--boxShadow);
  border-radius: var(--borderRadius);
  list-style: none;
  cursor: pointer;
  &:active {
    transform: scale(0.97);
    transition: transform 0.2s;
  }

  &.is-selected {
    cursor: default;
    transform: rotateY(180deg);
  }
  .front-face-wrapper,
  .back-face-wrapper {
    height: 100%;
    position: absolute;
    border-radius: var(--borderRadius);
    backface-visibility: hidden;
    width: 100%;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  .front-face-wrapper {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    background-size: cover;
    .front {
      height: 75%;
      .background {
        pointer-events: none;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        border-radius: var(--borderRadius);
      }
      .name {
        font-size: 10px;
        margin: 0;
        position: absolute;
        top: 4px;
        left: 0;
        right: 0;
        margin: auto;
        text-align: center;
      }
      .image-wrapper {
        background: rgb(255, 255, 255);
        background: linear-gradient(
          0deg,
          rgba(255, 255, 255, 1) 16%,
          rgba(110, 110, 110, 1) 100%
        );
        width: 100%;
        height: 100%;
        clip-path: inset(15% 9.6% 30.5% 10.2%);
        //WORKAROUND FOR FINELY RESZING THE CLIP PATH BASED ON THE FRONT-TYPE IMAGE.
        //(ALL FRONT-TYPES HAVE DIFFERENT SIZES)
        &.electric {
          clip-path: inset(18.8% 10.2% 33.5% 10.1%);
        }
        &.fighting {
          clip-path: inset(22.2% 11.1% 29.6% 11%);
        }
        &.fire {
          clip-path: inset(14.5% 9.1% 34.3% 9.1%);
        }
        &.ice {
          clip-path: inset(16.5% 12.1% 31.8% 11.6%);
        }
        &.poison {
          clip-path: inset(16.6% 11.2% 31.3% 11.4%);
        }
        &.grass {
          clip-path: inset(16.7% 12.1% 32% 12%);
        }
        &.water {
          clip-path: inset(14.2% 8.2% 32.9% 9%);
        }
        .image {
          width: 100%;
          height: 100%;
          transform: scale(0.7);
        }
      }
    }
  }
}

@media screen and (min-width: 640px) and (min-height: 640px) {
  .card {
    height: calc(33.333% - 5px);
  }
}
